{% extends 'staff/base.html' %}

{% load static %}

{% block body_tag %}
    <body class="pages show">
{% endblock %}

{% block header_tag %}
    <header class="sticky white black-bg">
{% endblock %}

{% block header_tag_close %}
    </header>
{% endblock %}

{% block page_content %}
    <section id="aboutpage">
        <div class="container-wide">
            <!--<section id="hero">
                <div class="guy"></div>
                <article>
                    <h2>ABOUT US</h2>

                    <p>We embrace traditional ideas, and continue to create and implement new ones. We're experienced, creative, inquisitive and experts in our fields. Gym Jones is not a cozy place. There are no televisions, no machines, no comfortable spots to sit - and there are no mirrors.</p>
                </article>
            </section> -->
            <section id="team">
                <div id="congragation">
                    <h2>MEET THE TEAM</h2>
                </div>

                <ul class="full">
                    <li>
                        <a href="instructor/62.html">
                            <!--<div class="preview" style="background:url('video.mp4');"></div> -->
                            <iframe width="50%" height="360"
                                    src="https://www.youtube.com/embed/bzZBWwD9zDk?rel=0&amp;controls=0&amp;showinfo=0"
                                    frameborder="0" allowfullscreen></iframe>
                            <article>
                                <h3>Vedang Vats</h3>
                                <!--<h4>CO-FOUNDER, DIRECTOR OF MARKETING &amp; BRANDING</h4> -->
                                <div style="overflow:hidden;height:100px;">
                                    <div style="overflow:hidden;height: 75px;">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non potes, nisi
                                            retexueris illa. Istam voluptatem, inquit, Epicurus ignorat? Quis animo
                                            aequo videt eum, quem inpure ac flagitiose putet vivere? Duo Reges:
                                            constructio interrete.

                                        </p>
                                    </div>
                                </div>

                            </article>
                        </a>
                    </li>

                    <li>
                        <a href="instructor/62.html">
                            <!--<div class="preview" style="background:url('video.mp4');"></div> -->
                            <iframe width="50%" height="360"
                                    src="https://www.youtube.com/embed/bzZBWwD9zDk?rel=0&amp;controls=0&amp;showinfo=0"
                                    frameborder="0" allowfullscreen></iframe>
                            <article>
                                <h3>Vedang Vats</h3>
                                <!--<h4>CO-FOUNDER, DIRECTOR OF MARKETING &amp; BRANDING</h4> -->
                                <div style="overflow:hidden;height:100px;">
                                    <div style="overflow:hidden;height: 75px;">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non potes, nisi
                                            retexueris illa. Istam voluptatem, inquit, Epicurus ignorat? Quis animo
                                            aequo videt eum, quem inpure ac flagitiose putet vivere? Duo Reges:
                                            constructio interrete.

                                        </p>
                                    </div>
                                </div>

                            </article>
                        </a></li>

                    <li>
                        <a href="instructor/62.html">
                            <!--<div class="preview" style="background:url('video.mp4');"></div> -->
                            <iframe width="50%" height="360"
                                    src="https://www.youtube.com/embed/bzZBWwD9zDk?rel=0&amp;controls=0&amp;showinfo=0"
                                    frameborder="0" allowfullscreen></iframe>
                            <article>
                                <h3>Vedang Vats</h3>
                                <!--<h4>CO-FOUNDER, DIRECTOR OF MARKETING &amp; BRANDING</h4> -->
                                <div style="overflow:hidden;height:100px;">
                                    <div style="overflow:hidden;height: 75px;">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non potes, nisi
                                            retexueris illa. Istam voluptatem, inquit, Epicurus ignorat? Quis animo
                                            aequo videt eum, quem inpure ac flagitiose putet vivere? Duo Reges:
                                            constructio interrete.

                                        </p>
                                    </div>
                                </div>

                            </article>
                        </a></li>

                    <li>
                        <a href="instructor/62.html">
                            <!--<div class="preview" style="background:url('video.mp4');"></div> -->
                            <iframe width="50%" height="360"
                                    src="https://www.youtube.com/embed/bzZBWwD9zDk?rel=0&amp;controls=0&amp;showinfo=0"
                                    frameborder="0" allowfullscreen></iframe>
                            <article>
                                <h3>Vedang Vats</h3>
                                <!--<h4>CO-FOUNDER, DIRECTOR OF MARKETING &amp; BRANDING</h4> -->
                                <div style="overflow:hidden;height:100px;">
                                    <div style="overflow:hidden;height: 75px;">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non potes, nisi
                                            retexueris illa. Istam voluptatem, inquit, Epicurus ignorat? Quis animo
                                            aequo videt eum, quem inpure ac flagitiose putet vivere? Duo Reges:
                                            constructio interrete.

                                        </p>
                                    </div>
                                </div>

                            </article>
                        </a></li>

                    <li>
                        <a href="instructor/62.html">
                            <!--<div class="preview" style="background:url('video.mp4');"></div> -->
                            <iframe width="50%" height="360"
                                    src="https://www.youtube.com/embed/bzZBWwD9zDk?rel=0&amp;controls=0&amp;showinfo=0"
                                    frameborder="0" allowfullscreen></iframe>
                            <article>
                                <h3>Vedang Vats</h3>
                                <!--<h4>CO-FOUNDER, DIRECTOR OF MARKETING &amp; BRANDING</h4> -->
                                <div style="overflow:hidden;height:100px;">
                                    <div style="overflow:hidden;height: 75px;">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non potes, nisi
                                            retexueris illa. Istam voluptatem, inquit, Epicurus ignorat? Quis animo
                                            aequo videt eum, quem inpure ac flagitiose putet vivere? Duo Reges:
                                            constructio interrete.

                                        </p>
                                    </div>
                                </div>

                            </article>
                        </a></li>

                    <li>
                        <a href="instructor/62.html">
                            <!--<div class="preview" style="background:url('video.mp4');"></div> -->
                            <iframe width="50%" height="360"
                                    src="https://www.youtube.com/embed/bzZBWwD9zDk?rel=0&amp;controls=0&amp;showinfo=0"
                                    frameborder="0" allowfullscreen></iframe>
                            <article>
                                <h3>Vedang Vats</h3>
                                <!--<h4>CO-FOUNDER, DIRECTOR OF MARKETING &amp; BRANDING</h4> -->
                                <div style="overflow:hidden;height:100px;">
                                    <div style="overflow:hidden;height: 75px;">
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non potes, nisi
                                            retexueris illa. Istam voluptatem, inquit, Epicurus ignorat? Quis animo
                                            aequo videt eum, quem inpure ac flagitiose putet vivere? Duo Reges:
                                            constructio interrete.

                                        </p>
                                    </div>
                                </div>

                            </article>
                        </a></li>

                </ul>
                <!--
                            <div id="certified">
                              <a href="instructors.html">
                                <h3>FULLY CERTIFIED INSTRUCTORS <i class="icon-arrow-right"></i></h3>
                </a>			</div> -->
            </section>
            <!--<section id="art-of-suffering">

                    <h2>ART OF<br> SUFFERING</h2>
                    <div id="slider">
                        <article>
                            <p>We are dedicated to The Art of Suffering. It is both safety net and inspiration. Individuals push harder and risk more alongside trustworthy peers. To maintain this spirit we're dedicated to choosing only clients who have the ability to adapt this philosophy. Gym Jones is private, but not closed.</p>
                        </article>
                        <div id="vertical-slider">
                            <div class="slide-wrapper">
                                <i class="icon-arrow-up"></i>
                                <i class="icon-arrow-down"></i>
                                <div class="slides">
                                    <ul>
                                        <li>
                                            <div class="number">1</div>
                                            <h3>NO DISTRACTIONS</h3>
                                            <p>Gym Jones is a training project, a physical location, and an ideal. It is not a cozy place. There are no televisions, no machines, no comfortable spots to sit - and there are no mirrors.</p>
                                        </li>
                                        <li>
                                            <div class="number">2</div>
                                            <h3>NO EXCUSES</h3>
                                            <p>Many lower expectations prior to effort to avoid disappointment. We don’t tolerate such excuses. Shut up. Lace up. Buck up. You'll do just fine. Usually better than you expect.</p>
                                        </li>
                                        <li>
                                            <div class="number">3</div>
                                            <h3>RIGHT ATTITUDE</h3>
                                            <p>Gym Jones is an attitude. It is best described as "utter commitment to the task at hand" and characterized by the mobilization of all available resources to achieve a particular goal.</p>
                                        </li>
                                        <li>
                                            <div class="number">4</div>
                                            <h3>HEAD FIRST</h3>
                                            <p>The mind is primary. The mind drags the body upward, forward. The physical work is easy - attitude makes it effective. The most important muscle you can train is the one inside your skull. Do you want to?</p>
                      </li>
                      <li>
                        <div class="number">5</div>
                        <h3>NO DISTRACTIONS</h3>
                        <p>Gym Jones is a training project, a physical location, and an ideal. It is not a cozy place. There are no televisions, no machines, no comfortable spots to sit - and there are no mirrors.</p>
                      </li>
                                    </ul>
                                </div>
                                <ol>
                                    <li class="active">1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                </ol>
                            </div>
                        </div>
                    </div>

            </section> -->
            <!--<section id="our-home">

                    <article>
                        <h3>OUR HOME</h3>
                        <p>Gym Jones HQ is pressed between the Wasatch Front and the Great Salt Lake. The split demand of the urban and the alpine reflects perfectly our theme of art and action, of mental and physical. Our crew is tightly knit, and equally at home smashing weight on the gym floor, up front at a metal show, and chasing oxygen in the high mountains. Access to our SLC facility is granted either by invitation or application.</p>
                <a href="training_plans/public_index.html">
                          <button class="red-btn">TRAIN AT GYM JONES</button>
    </a>				</article>
              <img src="assets/9_about/photo-grid-4306bef92cb5ec073c0d60cbe22fefed.png"/>

            </section> -->
            <section class="one-of-us">

                <h2>CONTACT US</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non potes, nisi retexueris illa. Istam
                    voluptatem, inquit, Epicurus ignorat? </p>
                <a href="memberships.html">
                    <div class="membership-btn-div">
                        <button class="red-btn">Fill out the form</button>
                    </div>
                </a>
            </section>
        </div>
    </section>
{% endblock %}

{% block side_menu %}
    <ul>
        <li class=""><a href="{% url 'home' %}"><p>HOME</p></a></li>
        <li class=""><a href="{% url 'about' %}"><p>ABOUT US</p></a></li>
        <li class=""><a href="{% url 'gallery' %}"><p>GALLERY</p></a></li>
        <li class="active"><a href="{% url 'meettheteam' %}"><p>MEET THE TEAM</p></a></li>
        <li class=""><a href="schedule.html"><p>CLASS SCHEDULE</p></a></li>
        <li class=""><a href="{% url 'contact_us' %}"><p>CONTACT US</p></a></li>
    </ul>
{% endblock %}

{% block body_tag_close %}
    </body>
{% endblock %}
