{% extends 'staff/base.html' %}

{% load static %}

{% block body_tag %}
    <body class="show pages">
{% endblock %}

{% block header_tag %}
    <header class="white">
{% endblock %}

{% block header_tag_close %}
    </header>
{% endblock %}

{% block page_content %}
    <p>Welcome to Stamina Gym <a href="{% url 'logout' %}">Logout</a></p>
{% endblock %}

{% block side_menu %}
    <ul>
        <li class="active"><a href="{% url 'home' %}"><p>HOME</p></a></li>
        <li class=""><a href="{% url 'about' %}"><p>ABOUT US</p></a></li>
        <li class=""><a href="{% url 'gallery' %}"><p>GALLERY</p></a></li>
        <li class=""><a href="{% url 'meettheteam' %}"><p>MEET THE TEAM</p></a></li>
        <li class=""><a href="schedule.html"><p>CLASS SCHEDULE</p></a></li>
        <li class=""><a href="{% url 'contact_us' %}"><p>CONTACT US</p></a></li>
    </ul>
{% endblock %}

{% block body_tag_close %}
    </body>
{% endblock %}
