<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>
    <h2>Admin Login</h2>
    On success: {{ next }}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p style="color: red"> {{ field.errors }} </p>
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p>{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Login" />
    </form>
</html>